<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        button {
            width: 70%;
            margin: auto;
            background-color: rgb(59, 160, 59);
            border: none;
        } 
        button:hover {
            background-color: green;
        } 
        button:active {
            background-color: rgb(2, 76, 2);
        } 
        *{
            text-align: center;
        }
        
        a {
            padding: 1rem 1rem;
            display: block;
            width: 100%;
            text-decoration: none;
            color: white;
            font-size: 20px;
        }
    </style>
</head>

<body>
    <h1>File Uploaded SuccessFully!</h1>
    <button><a href="http://localhost:3000">Go To Home</a></button>
</body>

</html>